<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppId</key>
	<dict>
		<key>App_Secret</key>
		<string>891393e9d168a8b6f8ced5e3ad746af8</string>
		<key>App_Key</key>
		<string>20101</string>
		<key>App_Id</key>
		<string>20101003</string>
	</dict>
	<key>ChannelId</key>
	<dict>
		<key>UMChannelId</key>
		<string>10122_100001000</string>
		<key>YinYueTaiChannelId</key>
		<string>100001001</string>
		<key>UMAppKeyId</key>
		<string>afd6b70e5b</string>
	</dict>
</dict>
</plist>
